<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome <%=locals.text%> </h1>
    <form action="/contact" method="post">
        <h1>CONATCT US</h1>
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <button type="submit">Send</button>
    </form>
</body>
</html>