<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome <%=locals.text%> </h1>
    <form action="/login" method="get">
        <button 
            style="
            margin: 10px;
            border: none;
            border-radius: 20px;
            height: 30px;
            width:100px;
            background-color: purple;
            color: white;
            font-size: 16px;"
        >
        Login
        </button>
    </form>
    <form action="/register" method="get">
        <button 
            style="
            margin: 10px;
            border: none;
            border-radius: 20px;
            height: 30px;
            width:100px;
            background-color: purple;
            color: white;
            font-size: 16px;"
        >
        Register
        </button>
    </form>
</body>
</html>