<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email" value="<%= locals.email %>">
        <input type="password" name="password" placeholder="Password">
        <button 
            style="
            margin: 10px;
            border: none;
            border-radius: 20px;
            height: 30px;
            width:100px;
            background-color: purple;
            color: white;
            font-size: 16px;"
        >
        Register
        </button>
    </form>
    <form action="/" method="get">
        <button 
            style="
            margin: 10px;
            border: none;
            border-radius: 20px;
            height: 30px;
            width:100px;
            background-color: purple;
            color: white;
            font-size: 16px;"
        >
        Home
        </button>
    </form>
</body>
</html>